#pershiyDay {
    color: blueviolet;
    top: 95px;
    left: 80px;
    display: none;
    cursor: pointer;
    position: absolute;
}

#pershiyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 hsl(200, 100%, 35%),
        -7px -7px 0 hsl(200, 100%, 55%),
        -6px -6px 0 hsl(200, 100%, 60%),
        -5px -5px 0 hsl(200, 100%, 65%),
        -4px -4px 0 hsl(200, 100%, 70%),
        -3px -3px 0 hsl(200, 100%, 75%),
        -2px -2px 0 hsl(200, 100%, 80%),
        -1px -1px 0 hsl(200, 100%, 85%),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#pershiyDay:hover {
    text-shadow: -8px 8px 0 hsl(80, 100%, 35%),
        -7px 7px 0 hsl(80, 100%, 55%),
        -6px 6px 0 hsl(80, 100%, 60%),
        -5px 5px 0 hsl(80, 100%, 65%),
        -4px 4px 0 hsl(80, 100%, 70%),
        -3px 3px 0 hsl(80, 100%, 75%),
        -2px 2px 0 hsl(80, 100%, 80%),
        -1px 1px 0 hsl(80, 100%, 85%),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#pershiyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#pershiyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}


/* другий день */
#drygiyDay {
    position: absolute;
    color: blueviolet;
    top: 165px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#drygiyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 rgb(116, 13, 47),
        -7px -7px 0 rgb(158, 31, 63),
        -6px -6px 0 rgb(146, 41, 103),
        -5px -5px 0 rgb(165, 47, 102),
        -4px -4px 0 rgb(185, 67, 96),
        -3px -3px 0 rgb(201, 55, 91),
        -2px -2px 0 rgb(165, 87, 51),
        -1px -1px 0 rgb(199, 83, 37),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#drygiyDay:hover {
    text-shadow: -8px 8px 0 rgb(97, 8, 75),
        -7px 7px 0 rgb(139, 29, 112),
        -6px 6px 0 rgb(197, 42, 176),
        -5px 5px 0 rgb(189, 54, 160),
        -4px 4px 0 rgb(192, 86, 166),
        -3px 3px 0 rgb(20, 124, 119),
        -2px 2px 0 rgb(98, 149, 190),
        -1px 1px 0 rgb(12, 78, 109),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#drygiyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#drygiyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}


/* третий день */
#tretiyDay {
    position: absolute;
    color: blueviolet;
    top: 235px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#tretiyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 hsl(200, 100%, 35%),
        -7px -7px 0 hsl(200, 100%, 55%),
        -6px -6px 0 hsl(200, 100%, 60%),
        -5px -5px 0 hsl(200, 100%, 65%),
        -4px -4px 0 hsl(200, 100%, 70%),
        -3px -3px 0 hsl(200, 100%, 75%),
        -2px -2px 0 hsl(200, 100%, 80%),
        -1px -1px 0 hsl(200, 100%, 85%),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#tretiyDay:hover {
    text-shadow: -8px 8px 0 hsl(80, 100%, 35%),
        -7px 7px 0 hsl(80, 100%, 55%),
        -6px 6px 0 hsl(80, 100%, 60%),
        -5px 5px 0 hsl(80, 100%, 65%),
        -4px 4px 0 hsl(80, 100%, 70%),
        -3px 3px 0 hsl(80, 100%, 75%),
        -2px 2px 0 hsl(80, 100%, 80%),
        -1px 1px 0 hsl(80, 100%, 85%),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#tretiyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#tretiyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

/* четвертий день */
#chetvertuyDay {
    position: absolute;
    top: 320px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#chetvertuyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 rgb(63, 6, 60),
        -7px -7px 0 rgb(90, 7, 90),
        -6px -6px 0 rgb(117, 6, 108),
        -5px -5px 0 rgb(124, 11, 134),
        -4px -4px 0 rgb(168, 12, 160),
        -3px -3px 0 rgb(201, 13, 185),
        -2px -2px 0 rgb(233, 43, 192),
        -1px -1px 0 rgb(233, 104, 216),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#chetvertuyDay:hover {
    text-shadow: -8px 8px 0 hsl(80, 100%, 35%),
        -7px 7px 0 hsl(80, 100%, 55%),
        -6px 6px 0 hsl(80, 100%, 60%),
        -5px 5px 0 hsl(80, 100%, 65%),
        -4px 4px 0 hsl(80, 100%, 70%),
        -3px 3px 0 hsl(80, 100%, 75%),
        -2px 2px 0 hsl(80, 100%, 80%),
        -1px 1px 0 hsl(80, 100%, 85%),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#chetvertuyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#chetvertuyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

/* пятий день */
#pytuyDay {
    position: absolute;
    top: 390px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#pytuyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 rgb(6, 77, 112),
        -7px -7px 0 rgb(9, 91, 133),
        -6px -6px 0 rgb(12, 133, 194),
        -5px -5px 0 hsl(200, 100%, 65%),
        -4px -4px 0 hsl(200, 100%, 70%),
        -3px -3px 0 hsl(200, 100%, 75%),
        -2px -2px 0 hsl(200, 100%, 80%),
        -1px -1px 0 hsl(200, 100%, 85%),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#pytuyDay:hover {
    text-shadow: -8px 8px 0 hsl(80, 100%, 35%),
        -7px 7px 0 hsl(80, 100%, 55%),
        -6px 6px 0 hsl(80, 100%, 60%),
        -5px 5px 0 hsl(80, 100%, 65%),
        -4px 4px 0 hsl(80, 100%, 70%),
        -3px 3px 0 hsl(80, 100%, 75%),
        -2px 2px 0 hsl(80, 100%, 80%),
        -1px 1px 0 hsl(80, 100%, 85%),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#pytuyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#pytuyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

/* шостий день */
#shostuyDay {
    position: absolute;
    top: 465px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#shostuyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 rgb(97, 55, 7),
        -7px -7px 0 rgb(116, 61, 9),
        -6px -6px 0 rgb(124, 44, 13),
        -5px -5px 0 rgb(206, 97, 33),
        -4px -4px 0 rgb(206, 66, 10),
        -3px -3px 0 hsl(200, 100%, 75%),
        -2px -2px 0 hsl(200, 100%, 80%),
        -1px -1px 0 hsl(200, 100%, 85%),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#shostuyDay:hover {
    text-shadow: -8px 8px 0 hsl(80, 100%, 35%),
        -7px 7px 0 hsl(80, 100%, 55%),
        -6px 6px 0 hsl(80, 100%, 60%),
        -5px 5px 0 hsl(80, 100%, 65%),
        -4px 4px 0 hsl(80, 100%, 70%),
        -3px 3px 0 hsl(80, 100%, 75%),
        -2px 2px 0 hsl(80, 100%, 80%),
        -1px 1px 0 hsl(80, 100%, 85%),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#shostuyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#shostuyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}



/* сьомий день */
#shomuyDay {
    position: absolute;
    top: 540px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#shomuyDay {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -8px -8px 0 rgb(32, 80, 4),
        -7px -7px 0 rgb(9, 119, 42),
        -6px -6px 0 rgb(44, 160, 34),
        -5px -5px 0 rgb(36, 163, 89),
        -4px -4px 0 rgb(34, 146, 81),
        -3px -3px 0 hsl(200, 100%, 75%),
        -2px -2px 0 hsl(200, 100%, 80%),
        -1px -1px 0 hsl(200, 100%, 85%),
        0 0 0 hsl(200, 100%, 95%);
    color: transparent;
    transition: all 1s;
}

#shomuyDay:hover {
    text-shadow: -8px 8px 0 hsl(80, 100%, 35%),
        -7px 7px 0 hsl(80, 100%, 55%),
        -6px 6px 0 hsl(80, 100%, 60%),
        -5px 5px 0 hsl(80, 100%, 65%),
        -4px 4px 0 hsl(80, 100%, 70%),
        -3px 3px 0 hsl(80, 100%, 75%),
        -2px 2px 0 hsl(80, 100%, 80%),
        -1px 1px 0 hsl(80, 100%, 85%),
        0 0 0 hsl(80, 100%, 95%);
    color: transparent;
}

#shomuyDay:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}

#shomuyDay:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

#moloko {
    background-image: url(images/moloko.jpg);
    width: 250px;
    height: 100px;
    color: rgb(15, 53, 12);
    font-size: 20px;
    position: absolute;
    top: 60px;
    border-radius: 50px;
    border: 2px solid rgb(32, 80, 4);
    text-align: center;
    padding-top: 10px;
    left: 30px;
}

#hlib {
    background-image: url(images/hlib.jpg);
    width: 250px;
    height: 100px;
    color: rgb(18, 3, 20);
    font-size: 20px;
    position: absolute;
    top: 180px;
    border-radius: 50px;
    border: 2px solid rgb(250, 76, 172);
    text-align: center;
    padding-top: 10px;
    left: 30px;
}

#ruba {
    background-image: url(images/ruba.jpg);
    width: 250px;
    height: 100px;
    color: rgb(3, 12, 10);
    font-size: 20px;
    position: absolute;
    top: 300px;
    border-radius: 50px;
    border: 2px solid rgb(50, 129, 109);
    text-align: center;
    padding-top: 10px;
    left: 30px;
}

#yagodu {
    background-image: url(images/syhifr.jpg);
    width: 250px;
    height: 100px;
    color: rgb(3, 12, 10);
    font-size: 20px;
    position: absolute;
    top: 420px;
    border-radius: 50px;
    border: 2px solid rgb(199, 22, 140);
    text-align: center;
    padding-top: 10px;
    left: 30px;
}

#yauca {
    background-image: url(images/auca.jpg);
    width: 250px;
    height: 100px;
    color: rgb(3, 12, 10);
    font-size: 20px;
    position: absolute;
    top: 540px;
    border-radius: 50px;
    border: 2px solid rgb(231, 121, 19);
    text-align: center;
    padding-top: 10px;
    left: 30px;
}

#korusniYa {
    font-size: 25px;
    color: rgb(105, 6, 64);
    position: absolute;
    left: 350px;
    top: 430px;
}

#korusniUa {
    font-size: 25px;
    color: rgb(15, 56, 39);
    position: absolute;
    left: 350px;
    top: 540px;
}

#korusniRu {
    font-size: 25px;
    color: rgb(15, 56, 39);
    position: absolute;
    left: 350px;
    top: 320px;
}

#korusniHlib {
    top: 190px;
    font-size: 25px;
    color: rgb(66, 5, 5);
    position: absolute;
    left: 350px;
}

#korusniMol {
    top: 60px;
    left: 350px;
    font-size: 25px;
    color: rgb(66, 5, 5);
    position: absolute;
}